.sceneGradient{
	-fx-base: red;
	-fx-background-color:radial-gradient(center 10% 10%, radius 100%, derive(-fx-base,90%) 10%, derive(-fx-base,-10%) 90%);
}

.backgroundHeader{
	-fx-background-image:url("../images/ebook/header.png");
	-fx-background-repeat:repeat;
	-fx-background-size:stretch;
}
.backgroundBody{
	-fx-background-image:url("../images/ebook/rackbg.png");
	-fx-background-repeat:repeat;
	-fx-background-size:stretch;
}
.backgroundShelf{
	-fx-background-image:url("../images/ebook/self_bg.png");
	-fx-background-position:bottom;
	-fx-background-repeat:no-repeat;
	-fx-background-size:contain;
}
.backgroundFooter{
	-fx-background-image:url("../images/ebook/footer.png");
	-fx-background-repeat:repeat;
	-fx-background-size:stretch;
}