.numberPlate1{
	-fx-background-color:linear-gradient(to bottom, #ffe4c4, #ff7f50);
}

.numberPlate2{
	-fx-background-color:linear-gradient(to bottom, #e0ffff, #708090);
}

.numberPlate3{
	-fx-background-color:linear-gradient(to bottom, #d2b48c, #a0522d);
}

.numberPlate4{
	-fx-background-color:linear-gradient(to bottom, #fffaf0, #4169e1);
}

.flip-view{
	-fx-border-color:gray;
	-fx-border-width:1px;
}