.bgOrange{
	-fx-background-color:#ffd4aa;
	-fx-border-color:black;
	-fx-border-width:1px;
}
.bgGreen{
	-fx-background-color:#d4ffd4;
	-fx-border-color:black;
	-fx-border-width:1px;
}
.bgRed{
	-fx-background-color:#ff7f7f;
	-fx-border-color:black;
	-fx-border-width:1px;
}

.numberPlate{
	-fx-background-color:linear-gradient(to bottom, #ffe4c4, #ff7f50);
}